<h1>sign in</h1>

<a href="/admin" class="<%= isActiveRoute('/admin', currentRoute) %>"><h2>Admin log in</h2></a>
<div>
<a href="/user" class="<%= isActiveRoute('/user', currentRoute) %>"><h2>User log in</h2></a>
</div>
